:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #10101f;
}
.table-container{
  width: auto;
  height: auto;
  background-color: rgb(19, 69, 69);
  border: 2px;
  padding: 180px;
}
h2{
  color: forestgreen;
font-size: x-large;
}
h2:hover{
  color: aliceblue;
}
table{
  width: 500px;
  height: 300px;
}

